  <div class="row-fluid clearfix" style="height: 160px;">

        <div class="col-md-5 col-sm-5">

             <div id="hgauge1" class="span3 200x160px"></div>

        </div>

        <div class="col-md-5 col-sm-5">

             <div id="hgauge2" class="span3 200x160px"></div>

        </div>


</div>

<div class="row-fluid" style="height: 160px;">

  <div class="col-md-5 col-sm-5">

            <div id="hgauge3" class="span3 200x160px"></div>
  </div>

  <div class="col-md-5 col-sm-5">
             <div id="hgauge4" class="span3 200x160px"></div>

  </div>

</div>


<script>
 var hg1 = new JustGage({
    id: "hgauge1", 
    value: 0, 
    min: 10,
    max: 280,
    title: "Rotation",
    label: "rpm"
  }); 

  var hg2 = new JustGage({
    id: "hgauge2", 
    value: 0, 
    min: 20,
    max: 210,
    title: "HB - temperature",
    label: "°C"
  }); 

  var hg3 = new JustGage({
    id: "hgauge3", 
    value: 0, 
    min: 5,
    max: 40,
    title: "Ext. Sensor-Temperature",
    label: "°C"
  }); 

  var hg4 = new JustGage({
    id: "hgauge4", 
    value: 0, 
    min: 0,
    max: 1200,
    title: "Vacuum",
    label: "mbar"
  }); 
</script>

