<span class="btn-group inline">
            <button id="runmodebutton" name="runmodebutton" class=" btn btn-info btn-large dropdown-toggle" data-toggle="dropdown"><span id="runmode">Run Mode</span>&nbsp;<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="ui.setRunmode(0);">Run Mode</a></li>
                <li><a href="#" onclick="ui.setRunmode(1);">Dispense Mode ml</a></li>
              <li><a href="#" onclick="ui.setRunmode(2);">Dispense Mode ml/min</a></li>
            </ul>
        </span>

<span id="runicon" name="runicon" class="glyphicon glyphicon-stop" />

<span class="btn-group inline">

        <button id="stop" name="stop" class=" btn btn-warning btn-large" onclick="ui.toggleStop();"><span id="stopicon" name="stopicon" class="glyphicon glyphicon-stop" /></button>

            <button id="startpause" name="startpause" class=" btn btn-success btn-large" onclick="ui.toggleStartPause();" data-toggle="button"><span id="startpauseicon" name="startpauseicon" class="glyphicon glyphicon-play" /></button>

            &nbsp;
            <button id="primedrain" name="primedrain" class=" btn btn-default btn-large" onclick="ui.togglePrimeDrain();">Prime/Drain</button>

</span>

<div class="row-fluid" style="margin-top:20px;">
    <div class="span6">
        <div id="tab2" name="tab2" class="well" style="text-align: center";>
           <label><span id="timecounter" style="font-size: 20px;"></span></label>

        </div>
     </div>

     <div class="span6">
        <div id="tab2" name="tab2" class="well" style="text-align: center";>
           <label><span id="amountcounter" style="font-size: 20px;"></span></label>

        </div>
     </div>
</div>



<div class="row-fluid clearfix" style="height: 160px;">

             <div id="gauge1" class="span3 200x160px"></div>

             <div id="gauge2" class="span3 200x160px"></div>


</div>


<script>
 var g1 = new JustGage({
    id: "gauge1", 
    value: 0, 
    min: 0,
    max: 10000,
    title: "Amount",
    label: "ul"
  }); 

  var g2 = new JustGage({
    id: "gauge2", 
    value: 0, 
    min: 0,
    max: 10000,
    title: "Flow rate",
    label: "ml/min"
  }); 

</script>

