<script src="../highcharts/highcharts.js"></script>
<script src="../highcharts/modules/exporting.js"></script>

<div class="row-fluid">
    <div class="span12">
        <span class="btn-group inline">
            <button id="runmodebutton" name="runmodebutton" class=" btn btn-info btn-large dropdown-toggle" data-toggle="dropdown"><span id="runmode">Evacuate</span>&nbsp;<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="ui.setRunmode('n');">Evacuate</a></li>
                <li><a href="#" onclick="ui.setRunmode('r');">Pressure Control</a></li>
              <li><a href="#" onclick="ui.setRunmode('a');">Automatic</a></li>
              <li><a href="#" onclick="ui.setRunmode('f');">Function</a></li>
            </ul>
        </span>

        <span class="btn-group inline">
            <button id="startstop" name="startstop" class=" btn btn-warning btn-large" onclick="ui.toggleStartstop();" data-toggle="button"><span id="startstopicon" name="startstopicon" class="glyphicon glyphicon-play" /></button>
        </span>

        <span class="btn-group inline">
            <button id="pressurebutton" name="pressurebutton" class=" btn btn-info btn-large dropdown-toggle" data-toggle="dropdown"><span id="pressure">0</span>&nbsp;<span id="unitpressure">mbar</span>&nbsp;<span class="caret"></span></button>

            <ul class="dropdown-menu">
                <li><a href="#" onclick="ui.setPressureunit('0');">mbar</a></li>
                <li><a href="#" onclick="ui.setPressureunit('1');">bar</a></li>
                <li><a href="#" onclick="ui.setPressureunit('2');">hPa</a></li>
                <li><a href="#" onclick="ui.setPressureunit('3');">Torr</a></li>
            </ul>
        </span>  

        <span class="btn-group inline">
            <button id="ventilationbutton" name="ventilationbutton" class=" btn btn-success btn-large" onclick="ui.toggleVentilation();" data-toggle="button"><span id="ventilationicon" name="ventilationicon" class="glyphicon glyphicon-star" />&nbsp;<span id="coolant">Ventilation</span></button>
        </span>

        <span class="btn-group inline">
            <button id="coolantbutton" name="coolantbutton" class=" btn btn-success btn-large" onclick="ui.toggleCoolant(); " data-toggle="button"><span id="coolanticon" name="coolanticon" class="glyphicon glyphicon-star" />&nbsp;<span id="coolant">Coolant</span></button>
        </span>

    </div>
</div>

<div class="row-fluid" style="margin-top:20px;">
    <div class="span5">
        <div id="tab2" name="tab2" class="hide well">
            <p>Pump Power</p>

            <div class="clearfix" id="si_power"> </div>

            <script type="text/javascript">

                smartinput ("si_power", function(val) {
                    ui.setPower(val);
                });
            </script>

        </div>

        <div id="tab3" name="tab3" class="hide well">
            <p>Pressure Setpoint</p>

            <div class="clearfix" id="si_setpoint"> </div>

            <script type="text/javascript">

                smartinput ("si_setpoint", function(val) {
                    ui.setSetpoint(val);
                });
            </script>

        </div>  

        <div id="tab4" name="tab4" class="hide well">
            <p>Function Definition</p>
            <table id="tbl" name="tbl" border="1"  width="400" onchange="new_func();">
            <tr onClick="ui.edit_cell(0)">
            <th>time</th>
            <th>pressure</th>
            <th>coolant</th>
            </tr>
            <tr onClick="ui.edit_cell(1)">
            <th>time</th>
            <th>pressure</th>
            <th>coolant</th>
            </tr>
            <tr onClick="ui.edit_cell(2)">
            <th>time</th>
            <th>pressure</th>
            <th>coolant</th>
            </tr>
            <tr onClick="ui.edit_cell(3)">
            <th>time</th>
            <th>pressure</th>
            <th>coolant</th>
            </tr>
            <tr onClick="ui.edit_cell(4)">
            <th>time</th>
            <th>pressure</th>
            <th>coolant</th>
            </tr>
            <tr onClick="ui.edit_cell(5)">
            <th>time</th>
            <th>pressure</th>
            <th >coolant</th>
            </tr>
            <tr onClick="ui.edit_cell(6)">
            <th>time</th>
            <th>pressure</th>
            <th>coolant</th>
            </tr>
            <tr onClick="ui.edit_cell(7)">
            <th>time</th>
            <th>pressure</th>
            <th>coolant</th>
            </tr>
            <tr onClick="ui.edit_cell(8)">
            <th>time</th>
            <th>pressure</th>
            <th>coolant</th>
            </tr>
            <tr onClick="ui.edit_cell(9)">
            <th>time</th>
            <th>pressure</th>
            <th>coolant</th>
            </tr>
            <tr onClick="ui.edit_cell(10)">
            <th>time</th>
            <th>pressure</th>
            <th>coolant</th>
            </tr>
            <tr onClick="ui.edit_cell(11)">
            <th>time</th>
            <th>pressure</th>
            <th>coolant</th>
            </tr>
            </table>

        </div>

    </div>


    <div class="span7">
        <div id="container" name ="container" >   

            <!--Body content-->

        </div>
    </div>

</div>


<div id="myModal" class="modal hide fade">
    <form class= "form-horizontal" action="" onsubmit="ui.save_row(); ui.updateChart();  $('#myModal').modal('hide');  return false;">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Modal header</h3>
            <input type="radio" name="myRadios" id="rad" onchange="ui.handleChange1();" value="1" checked>Function point<br></input>
            <input type="radio" name="myRadios" id="rad2" onchange="ui.handleChange2();" value="2">repeat</input>
        </div>
        <div class="modal-body" id="myform">

 
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    Time(sec): <input type="text"  id = "j_t" value="" name="country_code" pattern="[0-9]{1,4}" title="enter valid value"><br>

                    Pressure: <input type="text"  id = "j_p" value="" name="country_code" pattern="[0-9]{1,4}" title="enter valid value"><br>
                    <div class="control-group" id="j_coo">
                        Coolant(on/of): <input type="text"  id = "j_c" value="" name="country_code" pattern="[0-9]{1,4}" title="enter valid value">
                    </div>
                </div>
            </div>
     
        </div>

        <div class="modal-footer">
            <span style="display: inline;">
                <a href="#" class="btn" onClick = "ui.delete1(); ui.updateChart(); ">Delete from row</a>
                <a href="#" class="btn" onClick = "ui.deleteAll(); ui.updateChart(); ">Delete  row</a>
                <input type="hidden" id="row" name="Language"/>   
                <button type="submit" class="btn btn-primary">Save changes</button>
            </span>
        </div>
  
    </form>
    <script type="text/javascript">
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>
</div>