
<div class="row-fluid clearfix" style="height: 160px;">

             <div id="gauge1" class="span3 200x160px"></div>


</div>


<script>
 var g1 = new JustGage({
    id: "gauge1", 
    value: 0, 
    min: 0,
    max: 10000,
    title: "Amount",
    label: "ul"
  }); 

</script>

