<div class="row-fluid">
    <div class="span12">


        <span class="btn-group inline">
            <button id="usrled0button" name="usrled0button" class=" btn btn-success btn-large" onclick="ui.toggleusrled0();" data-toggle="button"><span id="usrled0">USR LED 0</span></button>
        </span>

        <span class="btn-group inline">
            <button id="usrled1button" name="usrled1button" class=" btn btn-success btn-large" onclick="ui.toggleusrled1();" data-toggle="button"><span id="usrled0">USR LED 1</span></button>
        </span>

        <span class="btn-group inline">
            <button id="usrled2button" name="usrled2button" class=" btn btn-success btn-large" onclick="ui.toggleusrled2();" data-toggle="button"><span id="usrled0">USR LED 2</span></button>
        </span>

        <span class="btn-group inline">
            <button id="usrled3button" name="usrled3button" class=" btn btn-success btn-large" onclick="ui.toggleusrled3();" data-toggle="button"><span id="usrled0">USR LED 3</span></button>
        </span>


        <br/>

        <span>
            <h4>Serial console</h4>
            <textarea rows="4" cols="80" id="serialconsole"></textarea>

            <br/>

            <input type="text" id="" /> <input type="button" value="send" onClick="ui.sendserial();" />

        </span>
    </div>
</div>
