<div class="row-fluid">
    <div class="span12">

        <p>Temperature: <span id="temperature"></span> °C</p>>
        <p>Pressure: <span id="pressure"></span> mbar</p>
        <p>Humidity: <span id="humidity"></span> %</p>
        <p>Lux: <span id="lux"></span></p>

    </div>
</div>