<div class="row-fluid">
    <div class="span12">

        Temperature: <span id="temperature"></span> °C
        Pressure: <span id="pressure"></span> mbar
        Humidity: <span id="humidity"></span> %
        Lux: <span id="lux"></span>

    </div>
</div>